.footer {
    width: 100%;
    height: 20vh;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & a {
        text-decoration: none;
        color: black;
    }
    & a:hover {
        text-decoration: none;
        color: black;
    }
    &__left-col,
    &__right-col {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 2em;
        margin: 0.2em;
    }
    &__center-col {
        padding: 1em;
        margin: 0.2em;
    }
    & img {
        mix-blend-mode: multiply;
        filter: brightness(110%);
        width: 80px;
        height: 80px;
    }
}