.header {
    width: 100%;
    height: 20vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    color: inherit;
    & button {
        margin-left: 10px;
        margin-right: 10px;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        padding: 5px;
        width: 20vh;
        height: 10vh;
        border-radius: 10px;
    }
    & button:focus {
        outline: none;
        border: none;
    }
    & button:hover {
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
}